<?xml version="1.0" encoding="utf-8"?>
<!--
      This file is part of Beacon Transponder.
  
      Beacon Transponder is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
  
      Beacon Transponder is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
  
      You should have received a copy of the GNU General Public License
      along with Beacon Transponder.  If not, see <http://www.gnu.org/licenses/>.
 
      Francesco Gabbrielli 2017
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="au.com.smarttrace.beacons.transponder"
          android:versionCode="1"
          android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="25"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BeaconTransponder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DeviceListActivity"
            android:label="@string/title_activity_devices"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.smarttrace.beacons.transponder.MainActivity"/>
        </activity>

        <!-- start DEVICE ACTIVITIES -->
        <activity android:name="au.com.smarttrace.beacons.DeviceActivity"/>
        <activity android:name="au.com.smarttrace.tzone.humiture.TZoneActivity"/>
        <!-- end DEVICE ACTIVITIES -->

        <service
            android:name="au.com.smarttrace.beacons.BluetoothService"
            android:exported="false"/>

        <receiver android:name="au.com.smarttrace.beacons.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="au.com.smarttrace.beacons.data.NetworkReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.ACCESS_NETWORK_STATE">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="au.com.smarttrace.beacons.gps.LocationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="au.com.smarttrace.beacons.gps.LocationService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".RecordingListActivity"
            android:label="@string/title_recording_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.smarttrace.beacons.transponder.MainActivity"/>
        </activity>
        <activity
            android:name=".RecordingDetailActivity"
            android:label="@string/title_recording_detail"
            android:parentActivityName=".RecordingListActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.smarttrace.beacons.transponder.RecordingListActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB06D01LAzQK0xGbwWcPsl9K4fgEar93BU"/>

    </application>

</manifest>